.App {
  text-align: center;
}

#header {
  height: 50px;
  background-color: rgb(193, 217, 230);
  text-align: left;
}

#shopping-list, #shopping-cart {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  /* border: solid grey 1px; */
  /* max-height: 200px; */
  margin-top: 15px;
}

#list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
}

.list-item {
  text-align: left;
}

h2 {
  text-align: left;
  margin-left: 35px;
  margin-top: 35px;
}

.unordered-list ul {
  width: 275px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
  align-content: center;
}

.unordered-list li {
  margin-left: 50px;
  width: 275px;
}

.list-item-title {
  font-size: 20px;
}

.list-item-brand-notes {
  color:rgb(144, 144, 144)
}

.category-names {
  font-size: 20px;
}