.App {
  text-align: center;
}

#header {
  height: 50px;
  background-color: rgb(193, 217, 230);
  text-align: left;
}

#shopping-list, #shopping-cart {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* border: solid grey 1px; */
  /* max-height: 200px; */
  margin-top: 15px;
}

#list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  min-height: 300px;
}

.list-item {
  text-align: left;
}

h2 {
  text-align: left;
  margin-left: 35px;
  margin-top: 35px;
}

.unordered-list ul {
  width: 275px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
  align-content: center;
}

.unordered-list li {
  margin-left: 50px;
  width: 275px;
}

.list-item-title {
  font-size: 20px;
}

.list-item-brand-notes {
  color:rgb(144, 144, 144)
}

.category-names {
  font-size: 20px;
}

#add-item-button {
  border: none;
  background-color: white;
  color: rgb(104, 104, 104);
  margin-left: 35px;
  font-size: 17px;
  cursor: pointer;
}

#edit-button {
  border: none;
  background-color: white;
  color: rgb(104, 104, 104);
  text-decoration: underline;
  cursor: pointer;
}

#category-content {
  text-align: left;
}

hr {
  width: 90%;
  background-color: rgb(189, 189, 189);
  height: 1px;
  border: none;
}

@media only screen and (max-width: 900px) {
  .unordered-list ul {
    max-height: 600px;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    margin-top: 10px;
    margin-left: 10px;
  }
  .unordered-list ul {
    max-height: none;
    align-content: left;
    margin-left: 25px;
  }
  .unordered-list li {
    width: 300px;
  }
  #shopping-list, #shopping-cart {
    justify-content: left;
  }
  .category-names {
    font-size: 17px;
  }

}